body{
    background-color: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
@font-face {
    font-family: mcFont1;
    src: url(/fonts/Minecrafter.Reg.ttf);
}
.page {
    margin-left: 4%;
    width: 92%;
}
#banner {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
#versionSelect {
    margin-left: 8%;
    width: 15%;
    height: 4rem;
    background: none;
    border: none;
    color: white;
    font-size: x-large;
    text-decoration: solid;
}
.versionIcon {
    width: 32px;
    height: auto;
}
#launch {
    transform: translate(-50%, -50%);
    margin-left: 35%;
    margin-top: 0;
    width: 15%;
    padding-top: 1%;
    font-family: mcFont1;
}
.news {
    margin-left: 2%;
    width: 2px;
    background-color: black;
    border: none;
}
.news .card {
    border-radius: 20px;
    border: 2px solid white;
}